 /* Color Pattern https://colorhunt.co/palette/0000003d0000950101ff0000 */

body {
  text-align: center;
  /* background-color: #011F3F; */
  background-color: #3D0000;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  /* color: #FEF2BF; */
  color: #FF0000;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

#footer {
  background-color: #000000;
  color: #FF0000;
  text-align: center;
  padding: 10px;
  margin-top: 40px;
  padding: 20px;

}

.footer-social {
  margin: 1%;
  color: #B85C38;
}

.footer-social:hover {
  color: #E0C097;
}